
@use "../common/variables" as *;

.all-products-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: $deep-navy;
  }

  footer {
    margin-top: auto;
  }
}

.all-products-page {
  display: flex;
  flex: 1;
  background: repeating-linear-gradient(
    -45deg,
    $electric-blue,
    $electric-blue 40px,
    $neon-coral 40px,
    $neon-coral 80px,
    $sunburst-orange 80px,
    $sunburst-orange 120px,
    $warm-gold 120px,
    $warm-gold 160px
  );
  background-size: cover;
}

.all-products-content {
  flex: 1;
  padding: 2rem;
  color: $crisp-white;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h2 {
    font-size: 2.2rem;
    font-family: $font-heading;
    color: $rust-red;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
  }
}

button {
  background-color: $forest-green;
  color: $crisp-white;
  border: 1px;
  border-color: $deep-navy;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-family: $font-body;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: $rust-red;
    transform: scale(1.05);
  }
}


// @media (max-width: 480px) {
//     .all-products-page {
//       padding: 1rem;
//     }
  
//     .all-products-content {
//       .product-grid {
//         grid-template-columns: 1fr;
//         gap: 1rem;
//       }
  
//       h2 {
//         font-size: 1.6rem;
//       }
//     }
//   }
  