@use '../common/variables' as *;


.footer {
    width: 100%;
    background-color: $charcoal-gray;
    color: $crisp-white;
    padding: 1rem 2rem;
    font-family: $font-body;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  
    p {
      margin: 0;
      line-height: 1.2;
    }
  
    .footer-links {
      display: flex;
      gap: 2rem;
      margin-top: 1rem;
  
      a {
        color: $crisp-white;
        font-weight: 600;
        font-size: 1rem;
        text-decoration: none;
  
        &:hover {
          color: $warm-gold;
        }
      }
    }
  }
  