
@import './variables';


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $deep-navy;
  padding: $spacing-md;
  color: $crisp-white;

  
  .header__left {
    .nav-links {
      display: flex;
      gap: $spacing-md;
      
      a {
        text-decoration: none;
        color: $crisp-white;
        font-family: $font-body;
        font-weight: bold;
        transition: color 0.3s ease;
        
        &:hover {
          color: $warm-gold;
        }
      }
    }
  }

  
  .header__center {
    .site-title {
      font-family: $font-heading;
      font-size: 2.5rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $crisp-white;
    }
  }
}

  